.container{
    height: 150px;
    width:200px;
    /* border: 2px solid black; */
    border-radius: 5px;
    box-shadow: 0 5px 15px 5px;
    margin: 20px;
    padding: 20px;
}

.container h1{
    text-align: center;
    font-size: 10px;
}

.container button{
    margin-left: 70px;
    margin-top: -20px;
   
}


.second{
    margin-left: 300px;
    margin-top: -206px;
}

.third{
    margin-left:570px ;
    margin-top: -213px;
}

.container img{
    border-radius: 15px 0 15px 0px;
}

.container button{
    background-color: black;
    color: aliceblue;
    border:none;
    padding: 4px;
    border-radius: 10px 0 10px 0;
}

